<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tajemnicza Wyspa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"> <!-- path based on: https://www.javaworld.com/article/2078034/spring-framework/spring-framework-mastering-spring-mvc.html?page=2 -->
    <!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"> &lt;!&ndash; path based on: https://www.javaworld.com/article/2078034/spring-framework/spring-framework-mastering-spring-mvc.html?page=2 &ndash;&gt;-->

</head>
<body>
    <div id="container">
        <div id="header"><h1>Tajemnicza Wyspa Inżyniera - zapisy</h1></div>
        <div id="formContainer">

            <p><h2>Podaj dane dziecka</h2></p>
            <form action="#" th:action="@{/customer}" th:object="${customer}" method="post">
                <p class="text"><label >Imię dziecka:</label>  <input type="text" th:field="*{firstName}" /></p>
                <p class="text"><label>Nazwisko dziecka:</label> <input type="text" th:field="*{lastName}" /></p>

                <p class="text"><label>Rok urodzenia:</label>
                    <select th:field="*{birthYear}">
                        <option th:each="birthYear : ${birthYears}"
                            th:value="${birthYear}"
                            th:text="${birthYear}">Wireframe</option>
                        <!--Wg thymeleaf docs linijka wyzej powinna byc jeszcze w #{...} i cos jeszcze, ale wtedy nie dziala prawidlowo-->
                    </select> </p>

                <p class="text"><label>Klasa:</label>
                    <select th:field="*{schoolForm}">
                        <option th:each="schoolForm : ${schoolFormList}"
                                th:value="${schoolForm}"
                                th:text="${schoolForm}">Wireframe</option>
                        <!--Wg thymeleaf docs linijka wyzej powinna byc jeszcze w #{...} i cos jeszcze, ale wtedy nie dziala prawidlowo-->
                    </select> </p>

                <p class="text"><label>Oddział klasy:</label> <input type="text" th:field="*{schoolFormType}" /></p>
                <p class="text"><label>Opis dziecka:</label> <input type="text" th:field="*{childDescription}" /></p>
                <p><h2>Podaj dane rodziców</h2></p>
                <p class="text"><label>Adres e-mail:</label><input type="text" th:field="*{email}" /></p>
                <p><input type="submit" value="Wyślij"/> </p>
                <p><a href="#" th:href="${'/customers'}">Results</a> </p>

            </form>

        </div>

    </div>



</body>
</html>